<div class="widget-body no-padding">
    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer">
        <table id="jobTable" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" role="grid" aria-describedby="dt_basic_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th style="width: 30px;">ID</th>
                    <th style="width: 83px;">Name</th>
                    <th style="width: 127px;">Phone</th>
                    <th style="width: 75px;">Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="/misc/quartzx_js/job/job_list.js"></script>
